@import "../../../node_modules/react-image-gallery/styles/css/image-gallery.css";

.image-gallery-thumbnail-inner .active {
  border: none;
}

.image-gallery {
  width: 50%;
  height: 360px;
}

.image-gallery-swipe {
  display: flex;
  justify-content: center;
}

.image-gallery-slide img {
  width: 480px;
  margin-top: 35px;
  height: 360px;
}

.image-gallery-content {
  position: relative;
  width: 100%;
  line-height: 0;
  top: 0;
}

.image-gallery-slide-wrapper {
  position: relative;
  width: 100%;
}
