.authors-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.author-info {
  max-width: 250px;
  width: 100%;
  text-align: center;
}

.author-info:hover {
  cursor: pointer;
  border: none;
}

.author-name {
  color: black;
  padding-bottom: 10px;
}

.author-foto {
  width: 195px;
  height: 190px;
}

.search-input input {
  width: 100% !important;
  outline-style: none;
}

.author-description {
  color: grey;
}

.authors-container a {
  text-decoration: none;
}

.authors-container a:hover {
  text-decoration: none;
}

div.author {
  width: 200px;
  margin: 10px;
}
